version: "3.8"

services:
  app:
    #build: ./Dockerfile-app
    build:
      context: .
      dockerfile: Dockerfile-app
    ports:
      - 5000:5000
    container_name: app_container
    environment:
      - FLASK_ENV=development
      - PORT=5000
      - MONGO_HOST=mongo
      - MONGO_USER=root
      - MONGO_PASS=password
      - MONGO_PORT=27017
    depends_on:
      - mongo
    networks:
      - workspace

  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    #image: nginx:alpine
    container_name: nginx_container
    # volumes:
    #   - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    #   # - ./templates/:/usr/share/nginx/html/templates/
    #   - ./static/:/usr/share/nginx/html/static/

    ports:
      - 80:80
    depends_on:
      - app
    networks:
      - workspace

  mongo:
    image: bitnami/mongodb:6.0.1
    container_name: mongo_container
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password

    volumes:
      - flaskapp:/data/db/
    ports:
      - 27017:27017
    networks:
      - workspace

networks:
  workspace:
    external: true

volumes:
  flaskapp:
